body {
  background: linear-gradient(to right, white, white);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.signup-container {
  min-height: 100vh;
  padding: 20px;
margin-top: -200px;
width: 400px;
  margin-left: 900px;
}

.card {
  background: white;
  border: none;
}

.form-control {
  padding: 12px;
  border-radius: 10px;
}

.btn-lg {
  border-radius: 12px;
  font-weight: 600;
}

hr {
  opacity: 0.3;
}
.image-container {
  margin-top: 60px;
}